{% extends "AdminBundle::loginlayout.html.twig" %}
 
{% block title %}
    
{% endblock %}
 
{% block content %}
    	<h1>Unauthorised page</h1>
    	<a href="{{ path('AdminBundle_homepage') }}"> Home page </a>
    	
{% endblock %}