<!DOCTYPE html>
<html>
<head>
<title>Ligalaw - Registered to the site</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width; initial-scale=1.0" />
</head>
<body>
	<p style="font-size: 16px; font-weight: bold">Your crendential is below</p>
	
	Username : {{ entity.username}} <br />
	Password : {{ password }}
	<br />
	<a href="http://{{ app.Request.Host }}" target="_blank">click here</a>
	
	<br/>
	Thank you,<br/>
    <br/>
	Ligalaw
	<br/><br/>
	<i>This email was sent from an auto-notification system that can't accept incoming email. Please don't reply to this message.</i>
</body>
</html>