<!DOCTYPE html>
<html>
<head>
<title>Libalaw - Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width; initial-scale=1.0" />
<!-- Let iPad know how to scale the width of the web page -->
<script src="{{ asset('js/jquery-1.4.2.min.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ asset('js/custom_jquery.js') }}" type="text/javascript" charset="utf-8"></script>


<link href="{{ asset('css/stylesheet.css') }}" rel="stylesheet" type="text/css" />
<style>
.error {
    color: red;
    text-align:center;
}</style>

<script src="{{ asset('js/jquery.pngFix.pack.js') }}" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
$(document).ready(function(){
$(document).pngFix( );
});
</script>

</head>
<body id="login-bg"> 
 	{% block content %}
	{% endblock %}
</body>
</html>
