<tr>
	<th rowspan="3" class="sized"><img src="{{ asset('images/shared/side_shadowleft.jpg') }}" width="20" height="300" alt="" /></th>
	<th class="topleft"></th>
	<td id="tbl-border-top">&nbsp;</td>
	<th class="topright"></th>
	<th rowspan="3" class="sized"><img src="{{ asset('images/shared/side_shadowright.jpg') }}" width="20" height="300" alt="" /></th>
</tr>